*{
	magin: 0px;
	padding: opx;
	
}


.body{
	width: 100%;
	heigth: 40px;
	background-color: red;
}

.div{
	
	width: 100%;
	heigth: 40px;
	text-align: center;
	position: relative;
	top: 5px;
	
}

.form{
	font-family: cursive;
	font-size: 20px;
	color: red;
	
}
#textarea {
	text-align: top;
}