@import


* {
	font-family:'Indie Flower', cursive;
	box-sizing: border-box;
	
}
body {
	margin: 0;
	padding: 0;
	box-sizing: content-box;
	background-position: center;
	background-size: cover;
	background-image: url("../imagenes/hotel.jpeg");
	
}

h1 {
	margin:0px;
	text-align:center;
	background-position: center;
	font-size: 4em;
	
}

h2 {
	margin:0px;
	background-position: center;
	font-size: 2em;
	
}
