@import


* {
	font-family: "Trirong", serif;
	box-sizing: border-box;
	
}
body {
	margin: 0;
	padding: 0;
	box-sizing: content-box;
	background-position: center;
	background-size: cover;
	background-image: url("../imagenes/hotel.jpeg");
	
}

h1 {
	margin:0px;
}